body {
  background: #ccc; }

.container {
  display: grid; }
  .container div h3,
  .container div h1 {
    padding: 10px; }
  .container div textarea {
    font: 1.5em sans-serif;
    width: 90%;
    padding: 10px;
    border-radius: 4px;
    resize: none; }
    .container div textarea:focus {
      outline: none; }
