body {
  background: #ccc;
}
.container {
  display: grid;

  div {
    h3,
    h1 {
      padding: 10px;
    }
    textarea {
      font: 1.5em sans-serif;
      width: 90%;
      padding: 10px;
      border-radius: 4px;
      resize: none;
      &:focus {
        outline: none;
      }
    }
  }
}
